name: Typos
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  merge_group:
jobs:
  typos:
    name: Spell Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@master
        with:
          config: .typos.toml
